@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	padding: 0;
  }
  body {
	font-family: sans-serif;
	background-image: url(./pages/assets/felt.png),
	  -webkit-radial-gradient(50% 40%, circle farthest-corner, #527c14, #243a0a);
	background-size: 180px 180px, auto;
	background-attachment: fixed;
	user-select: none;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
	margin: 0;
	padding: 0;
  }
  
  #app {
	contain: layout style;
	overflow: visible;
  }
  
  .roulette-wheel {
	float: right;
	width: 380px;
	height: 380px;
	border-radius: 100%;
	background: url(./pages/assets/roulette_1.jpg);
	background-size: 380px 380px;
	shape-outside: circle(190px);
	margin: 0 0 1em 1em;
	box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.4);
	position: relative;
	touch-action: none;
	overflow: visible;
  }
  
  @media screen and (max-width: 2640px) {
	.roulette-wheel {
	  float: none;
	  margin: 1em auto;
	}
  }
  
  @media screen and (max-width: 375px) {
	body {
	  padding: 0 20px;
	}
	.roulette-wheel {
	  float: none;
	  left: 30px;
	}
  }
  
  .roulette-wheel .layer-2,
  .roulette-wheel .layer-3,
  .roulette-wheel .layer-4,
  .roulette-wheel .layer-5,
  .ball-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 380px 380px;
  }
  
  .roulette-wheel .layer-2,
  .roulette-wheel .layer-4,
  .ball-container {
	will-change: transform;
  }
  
  .roulette-wheel .layer-2 {
	background-image: url(./pages/assets/roulette_2.png);
  }
  
  .roulette-wheel .layer-3 {
	background-image: url(./pages/assets/roulette_3.png);
  }
  
  .roulette-wheel .layer-4 {
	background-image: url(./pages/assets/roulette_4.png);
  }
  
  .roulette-wheel .layer-5 {
	background-image: url(./pages/assets/roulette_5.png);
  }
  
  .roulette-wheel svg {
	position: absolute;
	top: 0;
	left: 0;
  }
  
  .roulette-wheel circle {
	cursor: pointer;
	fill: transparent;
  }
  
  .roulette-wheel .ball {
	position: absolute;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	background: #fff radial-gradient(circle at 5px 5px, #fff, #444);
	box-shadow: 1px 1px 4px #000;
	transform: translateY(-116px);
	top: 50%;
	left: 50%;
	margin: -7px;
	will-change: transform;
  }
  
  #app table,
  #app td,
  #app th {
	border: 4px solid #fff700;
	border-collapse: collapse;
  }
  
  
  
   ul {
	margin: 0;
	padding: 0;
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	list-style-type: none;
	transform: translate(-50%, -50%);
  }
 
  
  ul li div::before {
	content: '';
  }
  
  
  
  .auth-user { 
	width: 250px;
	margin: 300px auto;
  }
  
  .winnerItem { 
	font-size: 24px;
	font-weight: 600;
	margin-top:20px;
	color: #f5f5dc;
  }
  .winnerItemHeader { 
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	margin-top:20px;
	color: #f5f5dc;
  }
  .rouletteWheelWrapper {
	margin: 0 auto;
  }
  .winnerHistory { 
	vertical-align:top;
	width: 400px;
  }
  .winnersBoard { 
	vertical-align:top;
	width: 400px;
  }
  
  .winnerHistory .red {
	text-align: center;
	background-color: rgb(177, 6, 6);
  }
  .winnerHistory .green {
	text-align: center;
	background-color: rgb(42, 174, 42);
  }
  .winnerHistory .black {
	text-align: center;
	background-color: rgb(41, 40, 40);
  }
  .winnerHistory {
  
  }
  .winnerHistory div {
	float:left; 
	color:#fff;
	font-weight: 900;
	line-height: 40px;;
	margin-left:20px;
	margin-top:10px;
	width: 40px;
	height: 40px;
	margin-bottom: 10px;
  }
  
  .hideElementsTest {
   /* visibility: hidden;*/
  }